{
    "db": {
        "host": "127.0.0.1",
        "port": "3306",
        "username": "root",
        "password": "root",
        "database": "rideshare"
    },
    "server": {
        "port": "9090"
    },
    "googleauth": {
        "clientID": "YOUR_CLIENT_ID",
        "clientSecret": "YOUR_CLIENT_SECRET",
        "callbackURL": "http://localhost:9090/auth/google/callback"
    }
}